@inherits StudentsBase
@page "/Students"
@attribute [Authorize(Roles ="Teacher")]
<div class="card w-100 py-0" style="height:95vh;" >
    <div class="card-body" style="overflow-y: scroll;">
        <b> the # selection : @selectedNum</b>@_classes.Count
        <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col"><input @onchange="e=>Model.ForEach(x=>{ if((bool)e.Value!=x.selected){onSelect(x);x.selected=(bool)e.Value;}})" type="checkbox"  /></th>
                  <th scope="col">FullName</th>
                  <th scope="col">User Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Class</th>
                </tr>
              </thead>
              <tbody>
                  @foreach(var m in Model){
                    <tr @onclick="()=>{onSelect(m);m.selected=!m.selected;}" >
                        <th scope="row"><input @bind="m.selected" type="checkbox"  /></th>
                        <td> @m.FullName </td>
                        <td> @m.user.UserName </td>
                        <td> @m.user.Email  </td>
                        @if (m.Class is null)
                        {
                            <td class="text-danger">doesn't have </td>
                        }
                        else
                        {
                            <td>@m.Class.Name</td>
                        }
                    </tr>
                    }
              </tbody>
</table>
    </div> 
    @if(selectedNum>0 && !Error.HaveError && _classes.Count>0){
    <div class="card-footer ">
        <div class="form-group row">
            <label class="col-3 ">the class name:</label>
            <select @bind="selectedClass" class="col-6">
                @foreach(var t in _classes){
                <option value="@t.Name" > @t.Name </option>
                }
            </select>
            <button @onclick="onSubmitAsync" class="col-3 btn btn-primary">add to the classroom</button>
        </div>
    </div>
    }
 <PopMassage @bind-Error="Error" title=" " ></PopMassage>
    
</div>

 
